@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4"></h1>
    
    <br/>
    <br/>
    <h3>Este é um desafio prático feito utilizando Razor Pages e EntityFrameWork, SQLITE, ASP.NET Identity</h3>
    <br/>
    <h4 style="color: #70b5de;">O objetivo é criar um sistema de cadastro com validação de usuários, logotipo e múltiplos endereços associados ao cliente.</h4>
    <br/>
    <br/>
    <img src="../img/avatar.png" width="10%" height="10%">
    <br/>
    <br/>
    <h5>Desenvolvido por Artenir Pinho</h5>
    <p><img src="../img/61109.png" width="30" height="30"> Visite meu perfil no <a href="https://www.linkedin.com/in/artpinho">LinkedIn</a>.</p>
    <p><img src="../img/25231.png" width="30" height="30"> Visite meu perfil no <a href="https://github.com/artpinho">GitHub</a>.</p>
</div>
